doctype html
html
  head
    title tuneinwith.me!
    link(href='/styles/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/fonts/fonts.css', rel='stylesheet', type='text/css')
    link(href='/styles/style.css', rel='stylesheet', type='text/css')
  body
    h1
      a(href='/')
        | tune inwith.
        img#logo(src='/images/listenwithme-white.png')
    #albumContainer
      img#albumimage.album(alt='sample')
      #titleContainer
      #inputfield
        form(action='/change', method='post')
          label(for='input') Room ID
          br
          .form-group.input-group
            input#roominput.form-control.flasher(name='room', placeholder='room:…', type='text')
            span.input-group-btn
              button#submitRoom.btn(type='submit')
                span.input-group-btn Change Room
      #queueCont
        b Queue:
        #queueDiv
      #inputfield
        form
          label(for='input') Add a song
          br
          .form-group.input-group
            input#songinput.form-control.flasher(placeholder='Search a Song!', type='text')
            span.input-group-btn
              button#submitSong.btn(onclick='LiveDJ.search($("#songinput").val()); return false;', type='submit')
                span.input-group-btn Search
      #searchDiv
  script(src='/scripts/firebase.js', type='text/javascript')
  script(src='/scripts/jquery.min.js', type='text/javascript')
  script(src='/scripts/main.js', type='text/javascript')
