body {
    background: url('http://f.cl.ly/items/352E1j0q2w1i0e1b1f3A/114311823_6aeb6b968a_o.jpg');
    background-size: cover;
    /* http://www.flickr.com/photos/pokpok/114311823/sizes/l/ */
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}
.jumbotron {
    background: none;
}
a, a:hover {
    color: white;
}
a:hover {
    opacity: 0.8;
}
ul, ol {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}
